- Class - is a blueprint or code templete for object creation
- Object - Object is instance of class
- Attribute - properties associate with object(car :- color, fuel type, wheels)
- Method - Functionality associated with object (car- we can drive it)

# simple class

- properties of object-----> attribute, intance variable
- functionality on onject ----> methods/function()

In [ ]:
class Emp:
  pass

In [ ]:
# object

e=Emp()

In [ ]:
print(type(e))

<class '__main__.Emp'>

In [ ]:
class Robot:

  def introduce_self(self):
    print("my name is " + self.name)

In [ ]:
r1 = Robot()

In [ ]:
r1.name="abc"

In [ ]:
r1.introduce_self()

my name is abc

In [ ]:
r2=Robot()

In [ ]:
r2.name="xyc"

In [ ]:
r2.introduce_self()

my name is xyc

In [ ]:
r3.name='Manish'

In [ ]:
r3=Robot()

In [ ]:
r3.introduce_self()

my name is Manish

In [ ]:
class Robot:

  def __init__(self,name,color,weight):
    self.name=name
    self.color=color
    self.weight=weight

  def introduce_self(self):
    print("my name is " + self.name)

In [ ]:
r1=Robot("abc","red",30)

In [ ]:
r2=Robot("xyz","blue",40)

In [ ]:
r1.introduce_self()

my name is abc

In [ ]:
r1.color

'red'

In [ ]:
class Person:

  def __init__(self,name,gender,profession):
    self.name=name
    self.gender=gender
    self.profession=profession

  def show(self):
    print('name', self.name,'Gender', self.gender, 'Profession', self.profession)

  def work(self):
    print(self.name, 'working as a ', self.profession)

In [ ]:
o1 = Person("manish", "male", "engineer")

In [ ]:
o1.show()

name manish Gender male Profession engineer

In [ ]:
o1.work()

manish working as a  engineer

In [ ]:
o2=Person("ravi", "Male", "engineer")

In [ ]:
o2.work()

ravi working as a  engineer

In [ ]:
class Emp:
  def __init__(self):
    print(id(self))
    self.age=25
    self.name="manish"
    self.salary=10000

In [ ]:
e1=Emp()

134070636323808

In [ ]:
e1.age

25

In [ ]:
e1.salary

10000

In [ ]:
e1.weight=34

In [ ]:
e1.weight

34

In [ ]:
class Circle:
  def __init__(self, radius):
    self.radius = radius

  def find_area(self):
    print(3.14 * self.radius **2)

  def circumference(self):
    print(2 * 3.14 * self.radius)

a = Circle(radius=11)
a.find_area()
a.circumference()

379.94
69.08

In [ ]:
class BankAccount:
  def __init__(self, account_number, name, balance):
    self.account_number=account_number
    self.name=name
    self.balance=balance

  def deposit(self, d_amount):
    self.d_amount = d_amount
    self.balance += self.d_amount
    print(self.d_amount, 'is credited into your account')
    print(f'your account balance is {self.balance}')

  def withdraw(self, w_amount):
    self.w_amount = w_amount
    self.balance -=  self.w_amount
    print(self.w_amount, 'is debited from your account')
    print(f'your account balance is {self.balance}')

  def account_details(self):
    print(f'your name is {self.name}')
    print(f'your account number is {self.account_number}')
    print(f'your balance is {self.balance}')

In [ ]:
ba=BankAccount(1122, "manish", 2000)

In [ ]:
ba.deposit(1000)

1000 is credited into your account
your account balance is 3000

In [ ]:
ba.withdraw(100)

100 is debited from your account
your account balance is 2900

In [ ]:
ba.account_details()

your name is manish
your account number is 1122
your balance is 2900